// HERO CAROUSEL
// -----------------------------------------------------------------------------
//
// Purpose: Styles the hero carousel component, which basically adds extras to the
// vendor slick carousel, to specifically display hero images.
//
// 1. Use object-fit on the image tag to keep aspect ratio and cover the space
//    created by the outer div. The JS will detect browsers that do not support
//    object-fit and instead copy the image src to a the background-image of the
//    wrapper div and add the compat-object-fit class.
//
// 2. Visually overrides the top margin for '.body' defined in _body.scss.
//    The '.body' top margin creates space between the header and page content.
//    However, on the homepage, we want the carousel to be flush with the header.
//
// 3. Allows image to scale on large screens while preventing the top and bottom
//    from becoming cut off.
// -----------------------------------------------------------------------------

.heroCarousel {
    width: 1px;
    min-width: 100%;
    margin-bottom: (spacing("double") + spacing("single"));
    margin-top: -(spacing("single")); // 3

    @include breakpoint("medium") {
        margin-top: -(spacing("single") + spacing("base")); // 3
    }

    &.slick-initialized { // 2
        max-height: remCalc(1000);
        opacity: 1;
    }

    &:not(.slick-initialized) :not(.heroCarousel-slide--first).heroCarousel-slide {
        display: none;
    }

    a {
        text-decoration: none;
    }

    .slick-next,
    .slick-prev {
        top: 50%;
    }

    .slick-next {
        right: 15px;

        @include breakpoint("medium") {
            right: 25px;
        }
    }

    .slick-prev {
        left: 15px;

        @include breakpoint("medium") {
            left: 25px;
        }
    }

    .slick-dots {
        // papathemes-beautify edited
        bottom: 0;
    }
}

.heroCarousel-slide {
    position: relative;

    a {
        text-decoration: none;
    }

    .heroCarousel-image {
        @include breakpoint("medium") {
            object-fit: cover; // 1
            max-height: remCalc(600px);
            width: 100%;
        }
    }

    .heroCarousel-image-wrapper {
        @include breakpoint("medium") {
            max-height: remCalc(600px);
        }
    }

    &.compat-object-fit { // 1
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;

        &.stretch {
            @include breakpoint("large") { // 4
                background-size: 100% 100%;
            }
        }

        .heroCarousel-image {
            opacity: 0;
        }
    }
}

.heroCarousel-content {
    background-color: rgba($carousel-bgColor, 1);
    padding: spacing("single"); // papathemes-inhealth edited
    text-align: center;

    @include breakpoint("medium") {
        @include carouselOpaqueBackgrounds;
        background-color: rgba($carousel-bgColor, 0.9);
        left: 0;
        margin: 0 auto;
        padding: spacing("single") * 1.5;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: remCalc(750px);

        &.heroCarousel-content--empty {
            background-color: transparent;
        }
    }
}

// supermarket-edited
.heroCarousel-title {
    color: $carousel-title-color;
    font-family: $header-font-family;
    font-weight: $header-font-weight; // papathemes-kitchenary edited
    font-size: fontSize("hero") * 0.8;
    line-height: 1;
    margin-top: 0;
    margin-bottom: spacing("half");
    @include breakpoint("medium") {
        font-size: fontSize("hero");
    }
}

.heroCarousel-description {
    color: $carousel-description-color;
    font-size: fontSize("large"); // supermarket edited
    margin-bottom: spacing("single"); // supermarket-added
    @if $theme-variant == "game" {
        line-height: 1.8;
    }
    // supermarket removed
    @include breakpoint("medium") {
        @if $theme-variant == "game" {
            font-size: fontSize("base");
        }
        @else {
            font-size: fontSize("largest"); // supermarket edited
        }
        margin-bottom: 0; // supermarket-added
    }
}

.heroCarousel-action {
    margin: 0;
}

.heroCarousel.blaze-slider {
    .blaze-container {
        margin: 0;

        &:hover,
        &:has(.heroCarousel-slide:focus-visible) {
            .blaze-prev,
            .blaze-next {
                opacity: 1;
            }
        }

        &:not(:has(.blaze-track .heroCarousel-slide:nth-child(2))) {
            .blaze-pagination,
            .blaze-prev,
            .blaze-next {
                display: none;
            }
        }

        .blaze-pagination {
            display: flex;
        }
    }

    .blaze-track-container {
        padding: 0;
    }

    .blaze-track .heroCarousel-slide {
        display: block;
        opacity: 1;
        max-width: unset;
        max-height: unset;
    }

    .heroCarousel-image-wrapper a {
        position: relative;
    }

    .blaze-pagination {
        padding: (spacing("third") * 0.625) (spacing("base") * 0.625);
        border-radius: spacing("base") * 0.625;
        width: fit-content;
        margin: spacing("third") auto 0;
        min-height: spacing("third") * 2.5;

        button {
            margin: 0 spacing("third") * 0.25;
        }

        &:empty {
            opacity: 0;
        }


        @include breakpoint("large") {
            background-color: rgba(stencilColor("carousel-bgColor"), 0.8);
            position: absolute;
            bottom: spacing("third") * 2.5;
            left: 50%;
            margin: 0;
            transform: translateX(-50%);
        }

        @media (max-width: (screenSize("medium") - 1px)) {
            margin: spacing("base") - spacing("quarter") auto 0;
        }
    }

    .blaze-prev {
        left: spacing("third") * 3.125;

        &::before {
            @if $theme-variant == "game" {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 0 35 36' %3E%3Cpath d='M0.744146 16.2344C-0.245438 17.2109 -0.245438 18.7969 0.744146 19.7734L15.9441 34.7734C16.9337 35.75 18.5408 35.75 19.5304 34.7734C20.52 33.7969 20.52 32.2109 19.5304 31.2344L6.11956 18L19.5225 4.76563C20.5121 3.78906 20.5121 2.20313 19.5225 1.22656C18.5329 0.25 16.9258 0.25 15.9362 1.22656L0.736228 16.2266L0.744146 16.2344Z' fill='#{str-replace(#{$slick-dot-color-active}, "#", "%23")}' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
            }
            @else {
                background-image: $heroCarousel-slick-arrow-prev;
            }
        }

        &:hover::before,
        &:focus::before {
            @if $theme-variant == "game" {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-5 0 35 36' %3E%3Cpath d='M0.744146 16.2344C-0.245438 17.2109 -0.245438 18.7969 0.744146 19.7734L15.9441 34.7734C16.9337 35.75 18.5408 35.75 19.5304 34.7734C20.52 33.7969 20.52 32.2109 19.5304 31.2344L6.11956 18L19.5225 4.76563C20.5121 3.78906 20.5121 2.20313 19.5225 1.22656C18.5329 0.25 16.9258 0.25 15.9362 1.22656L0.736228 16.2266L0.744146 16.2344Z' fill='#{str-replace(#{$slick-dot-color-active}, "#", "%23")}' /%3E%3C/svg%3E%0A");
            }
            @else {
                background-image: $heroCarousel-slick-arrow-prev-hover;
            }
        }
    }

    .blaze-next {
        right: spacing("third") * 3.125;

        &::before {
            @if $theme-variant == "game" {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 0 35 36' %3E%3Cpath d='M19.5892 16.2344C20.5788 17.2109 20.5788 18.7969 19.5892 19.7734L4.38923 34.7734C3.39965 35.75 1.79256 35.75 0.802979 34.7734C-0.186605 33.7969 -0.186605 32.2109 0.802979 31.2344L14.2138 18L0.810895 4.76563C-0.178688 3.78906 -0.178688 2.20313 0.810895 1.22656C1.80048 0.25 3.40756 0.25 4.39715 1.22656L19.5971 16.2266L19.5892 16.2344Z' fill='#{str-replace(#{$slick-dot-color-active}, "#", "%23")}' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
            }
            @else {
                background-image: $heroCarousel-slick-arrow-next;
            }
        }

        &:hover::before,
        &:focus::before {
            @if $theme-variant == "game" {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-10 0 35 36' %3E%3Cpath d='M19.5892 16.2344C20.5788 17.2109 20.5788 18.7969 19.5892 19.7734L4.38923 34.7734C3.39965 35.75 1.79256 35.75 0.802979 34.7734C-0.186605 33.7969 -0.186605 32.2109 0.802979 31.2344L14.2138 18L0.810895 4.76563C-0.178688 3.78906 -0.178688 2.20313 0.810895 1.22656C1.80048 0.25 3.40756 0.25 4.39715 1.22656L19.5971 16.2266L19.5892 16.2344Z' fill='#{str-replace(#{$slick-dot-color-active}, "#", "%23")}'/%3E%3C/svg%3E%0A");
            }
            @else {
                background-image: $heroCarousel-slick-arrow-next-hover;
            }
        }
    }

    .blaze-prev,
    .blaze-next {
        top: 50%;
        @include square(80px);
        @if  $theme-variant == "game" {
            background-color: rgba(stencilColor("carousel-bgColor"), 0.45);
        }
        @else {
            background-color: $carousel-bgColor;
        }
        transition: all 0.2s linear;
        opacity: 0;

        &::before {
            @include square(40px);
        }

        &:focus-visible {
            opacity: 1;
        }
    }
}
