.heroCarousel-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%;

    @if $theme-style == "compact" {
        @include breakpoint("medium") {
            margin-bottom: spacing("half");
        }
    }
    
    .slick-dots {
        bottom: calc(#{spacing("double")} * -0.9);
        @media (max-width: (screenSize("medium") - 1px)) {
            bottom: calc(#{spacing("double")} * -0.7);
        }
    }

    &:has(.heroCarousel-content) {
        .slick-dots {
            @media (max-width: (screenSize("large") - 1px)) { 
                bottom: - spacing("base") * 2.1;
            }
        }
    }
}


.heroCarousel {
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;

    .js & {
        opacity: 1;
        max-height: none;
        transition: none;
    }

    @media (max-width: screenSize("medium") - 1px) {
        padding-bottom: spacing("single") + spacing("base");
    }

    @include breakpoint("medium") {
        width: auto;
        flex: 1 1 0;
    }

    &.slick-initialized {
        max-height: none;
    }

    &.slick-dotted {
        margin-bottom: 0;
        @media (max-width: screenSize("small") - 1px) {
            position: relative;
            margin-bottom: spacing("double");
        }
    }
}

.heroCarousel .slick-next,
.heroCarousel .slick-prev {
    top: 50%;
    display: none !important;

    @include breakpoint("medium") {
        display: block !important;
    }
}

.heroCarousel .slick-dots li {
    height: remCalc(10px);
    width: remCalc(10px);
    display: flex;

    button {
        position: unset;
    }
    // papathemes-beautify deleted button

    button,
    button::before {
        @include square(10px);
        border-radius: 50%;
        transition: all 0.5s ease;
    }

    &.slick-active {
        button,
        button::before {
            width: remCalc(10px);
        }
    }


}

.js {
    .heroCarousel-slide:first-child {
        display: block;
    }

    .heroCarousel-slide + .heroCarousel-slide {
        opacity: 0;
        max-height: 0;
    }

    // .heroCarousel-slide:not(.slick-slide),
    // .heroCarousel-slide.slick-slide:not(.slick-active) {
    //     background-image: none !important;
    // }

    .slick-initialized .heroCarousel-slide + .heroCarousel-slide {
        opacity: 1;
        max-height: none;
    }
}

.heroCarousel-slide {
    .heroCarousel-image-wrapper {
        max-height: none;
    }

    .heroCarousel-image {
        max-height: none;
    
    }

    a {
        display: block;
    }
}

.heroCarousel-image-box {
    @include breakpoint("medium") {
        border-radius: $container-border-radius;
    }
    border-radius: $container-border-radius;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    // overflow: hidden;

    @media (max-width: (screenSize("small") - 1px)) {
        border-radius: 0;
        overflow: hidden;
    }
}

.heroCarousel-image-box-padding {
    height: 0;
}

.heroCarousel-image {
    width: 100%;

    &.lazyload,
    &.lazyloading {
        // width: auto; // comment out to fix error image smaller while loading http://prntscr.com/ukh8z8

        .heroCarousel-image-wrapper:not(.heroCarousel-image-wrapper--sized) & + .heroCarousel-content {
            opacity: 0;
        }
    }

    @include breakpoint("medium") {
        width: auto;
    }
}

.heroCarousel-content {
    background-color: rgba($carousel-bgColor, stencilNumber("carousel-bgColor-opacity", "") / 100);
    border-radius: $global-radius;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    @include breakpoint("medium") {
        width: 100%;
        padding: spacing("double");
        @media (max-width: (screenSize("medium") - 1px)) {
            left: 0%;
        }
    }
    padding: spacing("base");
    @media (max-width: (screenSize("medium") - 1px)) {
        .heroCarousel-description {
            display: none;
        }
    }
    @media (max-width: (screenSize("small") - 1px)) {
        .heroCarousel-action {
            padding: spacing("third") spacing("half");
            font-size: fontSize("smallest");
        }
    }
}

.heroCarousel-slide .heroCarousel-content {
    @media (max-width: (screenSize("large") - 1px)) {
        display: none;
    }

    &._desc-mobile {
        @include breakpoint("large") {
            display: none;
        }
        @media (max-width: (screenSize("large") - 1px)) {
            width: 100%;
            max-width: 100%;
            display: block;
            position: unset;
            padding: spacing("base");
            transform: unset;
            background-color: rgba(stencilColor("carousel-bgColor"), 0.7);

            .heroCarousel-description {
                display: block;
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    &._head-button-mobile {
        @include breakpoint("large") {
            display: none;
        }
        @media (max-width: (screenSize("large") - 1px)) {
            display: block;
            padding: spacing("base");
        }
        @media (max-width: (screenSize("small") - 1px)) {
            padding: spacing("third");
        }
    }
}

.heroCarousel-video-wrapper {
    position: relative;
    overflow: hidden;
}

.heroCarousel-video {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    padding-bottom: stencilString("carousel-video-ratio");
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;

    .slick-active & {
        visibility: visible;
    }

    .heroCarousel:not([data-youtube-autoplay]) &,
    .slick-video-playing & {
        visibility: visible;
        opacity: 1;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


//
// Make position of carousel description text of each slide
// to left or right depends on theme settings
//
@for $i from 0 through 4 {
    @if stencilString("carousel-slide#{$i}-position") == "left" {
        .heroCarousel-slide--#{$i} .heroCarousel-content {
            text-align: left;
            @media (max-width: (screenSize("medium") - 1px)) {
                width: fit-content;
                max-width: 50%;
                left: spacing("third");
            }
            @include breakpoint("medium") {
                left: 10%;
                right: 50%;
                width: fit-content;
                max-width: 100%;
            }
            // papathemes-beautify
            @include breakpoint("xlarge") {
                max-width: 39rem;
            }
            @include breakpoint("xxlarge") {
                max-width: 41rem;
            }
        }
    }
    @else if stencilString("carousel-slide#{$i}-position") == "right" {
        .heroCarousel-slide--#{$i} .heroCarousel-content {
            text-align: right;
            @media (max-width: (screenSize("medium") - 1px)) {
                width: fit-content;
                max-width: 50%;
                right: spacing("third");
            }
            @include breakpoint("medium") {
                left: 50%;
                right: 10%;
                width: fit-content;
                max-width: 100%;
            }
            // papathemes-beautify
            @include breakpoint("xlarge") {
                max-width: 39rem;
            }
            @include breakpoint("xxlarge") {
                max-width: 41rem;
            }
        }
    }
    @else if stencilString("carousel-slide#{$i}-position") == "center" {
        .heroCarousel-slide--#{$i} .heroCarousel-content {
            text-align: center;
            @media (max-width: (screenSize("medium") - 1px)) {
                width: fit-content;
                max-width: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            @include breakpoint("medium") {
                left: 25%;
                right: 25%;
                width: fit-content;
                max-width: 100%;
            }
            // papathemes-beautify
            @include breakpoint("xlarge") {
                max-width: 39rem;
                @if $theme-variant == "game" {
                    max-width: remCalc(700);
                }
            }
            @include breakpoint("xxlarge") {
                max-width: 41rem;
            }
        }
    }
}


// papathemes-beautify edited
.heroCarousel-title {
    font-family: $header-font-family;
    font-weight: $header-font-weight;
    font-size: stencilNumber("carousel-title-fontSize-mobile");
    line-height: 1.1;
    margin-bottom: spacing("base")*1.25;
    @include breakpoint("medium") {
        font-size: stencilNumber("carousel-title-fontSize");
        margin-bottom: spacing("double");
    }
}

.heroCarousel-description {
    font-size: stencilNumber("carousel-description-fontSize-mobile");
    margin-bottom: spacing("half");
    @include breakpoint("medium") {
        font-size: stencilNumber("carousel-description-fontSize");
        margin-bottom: spacing("double");
    }
}

.heroCarousel {
    .slick-dots li.slick-active {
        button::before {
            background: stencilColor("carousel-dot-color-active");
        }
    }
}

.heroCarousel .slick-arrow {
    border-radius: 50%;
    height: 80px !important;
    width: 80px !important;
    padding: 0;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &:focus {
        outline-offset: 2px !important;
    }
}

.heroCarousel .slick-next,
.heroCarousel .slick-prev {
    @include breakpoint("medium") {
        display: flex !important;
        justify-content: center;
        align-items: center;
        background-color: $body-bg;

        &::before {
            height: remCalc(40px);
            width: remCalc(40px);
        }
    }
    display: none;

}

.heroCarousel--boxed .slick-prev {
    @media screen and (min-width: 1750px) {
        left: -100px !important;
    }
    left: 20px !important;

    &::before {
        margin: 0 auto;
    }
}

.heroCarousel--boxed .slick-next {
    @media screen and (min-width: 1750px) {
        right: -100px !important;
    }
    right: 20px !important;

    &::before {
        margin: 0 auto;
    }
}

.heroCarousel--boxed {
    position: static;

    &.heroCarousel.blaze-slider {
        .blaze-prev {
            left: spacing("base") * 5;
        }

        .blaze-next {
            right: spacing("base") * 5;

        }

        @media (min-width: 1840px) {
            .blaze-prev {
                left: -(spacing("single") * 2.5);
            }

            .blaze-next {
                right: -(spacing("single") * 2.5);
            }
        }

        @media (min-width: 1750px) and (max-width: 1839px) {
            .blaze-prev {
                left: -(spacing("third") * 3.25);
            }

            .blaze-next {
                right: -(spacing("third") * 3.25);
            }
        }

        @media (max-width: (screenSize("large") - 1px)) {
            .blaze-prev {
                top: 35%;
                left: (spacing("base") * 2.5);
            }

            .blaze-next {
                top: 35%;
                right: (spacing("base") * 2.5);

            }
        }
    }
}

.heroCarousel .slick-dots {
    // @include breakpoint("medium") {
    //     bottom: - spacing("base") * 2.65;
    // }
    bottom: spacing("base");
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(stencilColor("carousel-bgColor"), 0.8);
    border-radius: remCalc(10px);
    padding: remCalc(5px) remCalc(10px);
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 remCalc(10px);
}

.heroCarousel-content .button--outline {
    color: stencilColor("carousel-title-color");
    border-color: stencilColor("carousel-title-color");

    &:focus,
    &:hover {
        color: stencilColor("carousel-dot-color-active");
        border-color: stencilColor("carousel-dot-color-active");
    }
}

.heroCarousel {
    padding-bottom: 0 !important;

    &:hover {
        .slick-arrow {
            opacity: 0.3;

            &:hover {
                opacity: 1;
            }
        }
    }
}
