<div class="previewCart" data-cart-quantity="{{cart.quantity}}" data-cart-price="{{cart.grand_total.value}}" data-cart-formatted="{{cart.grand_total.formatted}}">
    <div class="loadingOverlay"></div>
    <div class="_header">
        <a href="#" class="_close is-open" data-toggle="cart-preview-dropdown"><svg class="icon"><use href="#icon-close"></use></svg><span class="sr-only">{{lang 'common.close'}}</span></a>
        {{> components/papathemes/cart-popup/page-title}}
        <div data-papathemes-cart-popup-status>
            {{> components/papathemes/cart-popup/status-messages}}
            {{#if in_development}}
                <div class="_statusMsg">
                    <div class="alertBox alertBox--info">
                        <div class="alertBox-column alertBox-message">
                            📦 Free shipping over 59 Euro - Code: IRISH
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
    <div class="_body">
        {{#if cart.items.length}}
            <div data-papathemes-cart-popup-content>
                {{> components/papathemes/cart-popup/content}}
            </div>
            <div class="_cartSuggested" data-cart-suggested-products>
                <h3 class="_subheading">{{theme_settings.product_cartsuggested_heading}}</h3>
                <section class="productGrid"
                    data-list-name="Cart Suggested Products"
                >
                    {{#for 1 4}}
                        <div class="productCarousel-slide">
                            {{> components/products/card-placeholder settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
                        </div>
                    {{/for}}
                </section>
                <div class="actionGroup">
                    <a href="#" 
                        class="button button--small button--outline loadMore" 
                        style="display: none;">
                        {{lang 'papathemes.product_cartsuggested.load_more'}}
                    </a>
                    <a href="#" 
                        class="button button--small button--outline collapse" 
                        style="display: none;">
                        {{lang 'papathemes.product_cartsuggested.collapse'}}
                    </a>
                </div>
            </div>
            <div class="_recentlyViewed" data-recently-viewed-products-section>
                <h3 class="_subheading">{{theme_settings.product_recentviewed_heading}}</h3>
                <section class="productCarousel blaze-slider"
                    data-list-name="Recently Viewed Products"
                    data-blaze-slider='{
                        "all": {
                            "enableAutoplay": false,
                            "autoplayInterval": 7000,
                            "transitionDuration": 500,
                            "slidesToShow": 2,
                            "slidesToScroll": 2,
                            "slideGap": "{{#if theme_settings.card_show_border}}12px{{else}}0px{{/if}}",
                            "loop": true
                        },
                        "(max-width: 800px)": {
                            "slideGap": "{{#if theme_settings.card_show_border}}6px{{else}}0px{{/if}}"
                        }
                    }'
                >
                    <div class="blaze-container">
                        <div class="blaze-track-container">
                            <div class="blaze-track">
                                {{#for 1 2}}
                                    <div class="productCarousel-slide">
                                        {{> components/products/card-placeholder settings=../settings show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
                                    </div>
                                {{/for}}
                            </div>
                        </div>
                        <div class="blaze-pagination"></div>
                    </div>
                </section>
            </div>
            <div class="_wrapper-block"></div>
        {{else}}
            <div class="previewCart-emptyBody">
                {{lang 'cart.checkout.empty_cart'}}
            </div>
        {{/if}}
    </div>
    {{#if cart.items.length}}
        <div class="_footer">
            <div class="previewCartAction">
                <div data-papathemes-cart-popup-totals>
                    {{> components/papathemes/cart-popup/totals}}
                </div>

                {{#if cart.show_primary_checkout_button}}
                    <div class="previewCartAction-checkout">
                        <a href="{{urls.checkout.single_address}}" class="button button--primary" data-primary-checkout-now-action>
                            {{lang 'cart.preview.checkout_now'}}
                        </a>
                    </div>
                {{/if}}

                {{#if cart.show_multiple_address_shipping}}
                    <div class="previewCartAction-checkoutMultiple">
                        <a href="{{urls.checkout.multiple_address}}">
                            {{lang 'cart.preview.checkout_multiple'}}
                        </a>
                    </div>
                {{/if}}
            </div>
            <div data-papathemes-cart-popup-additional-checkout-buttons>
                {{> components/papathemes/cart-popup/additional-checkout-buttons}}
            </div>
        </div>
    {{/if}}
</div>
