{{#or banners.bottom theme_settings.instantload}}
{{#if settings.data_tag_enabled}}
<div class="banners--bottom" data-banner-location="bottom">
    <div class="container">
        {{#each (limit banners.bottom_metadata 1)}}
        <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}"
            data-position="{{this.location}}" data-name="{{this.banner-name}}">
            <div data-event-type="promotion-click">
                {{{this.content}}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{else}}
<div class="banners--bottom" data-banner-location="bottom">
    <div class="container">
        <div class="banner">
            {{{limit banners.bottom 1}}}
        </div>
    </div>
</div>
{{/if}}
{{/or}}

{{{region name="footer_before"}}}
{{{region name="footer_before--global"}}}

<footer class="footer" role="contentinfo">
    <h2 class="is-srOnly">{{lang 'footer.footer_start'}}</h2>
    {{#if theme_settings.footer_show_customer_service}}
        {{#unless page_type '===' 'default'}}
            {{> components/kitchenary/sections/customer-service}}
            {{{region name="footer_customer_service--global"}}}
        {{/unless}}
    {{/if}}
    {{#and settings.show_newsletter_box theme_settings.footer_show_newsletter}}
    {{#if theme_settings.footer-secondary-style '!=' 'footer'}}
        {{#if settings.show_newsletter_box}}
            {{> components/beautify/section-home-newsletter}}
        {{/if}}
    {{/if}}
    {{/and}}

    {{{region name="footer_top--global"}}}
    {{#if theme_settings.footer_show_contactInfo}}
    <section class="footer-map">
        <div class="container">
            <div class="footer-map--list">
                {{#if theme_settings.footer_show_gmap}}
                    {{> components/beautify/section-gmap index=index}}
                {{else}}
                    {{{region name="footer_contact_left--global"}}}
                {{/if}}
                <div class="footer-map__col footer-map__col--info">
                    <div class="footer-map__text">
                        <h3 class="footer-info-heading">
                            {{theme_settings.footer_contactInfo_heading}}
                        </h3>
                        <div class="__item">
                            <div class="__item--icon">
                                <svg class="icon">
                                    <use xlink:href="#icon-place" />
                                </svg>
                            </div>
                            <div class="__item--info">
                                <p class="text">
                                    {{settings.address}}
                                </p>
                                {{#if settings.phone_number}}
                                    <p class="text">
                                        {{lang 'footer.phone'}}: <a href="tel:{{settings.phone_number}}">{{settings.phone_number}}</a>
                                    </p>
                                {{/if}}
                                {{#if theme_settings.footer_email '!==' ''}}
                                    <p class="text">
                                        {{lang 'footer.email'}}: <a href=mailto:{{theme_settings.footer_email}}>{{theme_settings.footer_email}}</a>
                                    </p>
                                {{/if}}
                            </div>
                        </div>
                        {{{region name="footer_contact--global"}}}
                    </div>
                    {{#if theme_settings.social_icon_placement_bottom}}
                    {{> components/common/social-links}}
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    {{/if}}
    <section
        class="footer-info{{#if theme_settings.footer_show_newsletter}}{{#if theme_settings.footer-secondary-style '==' 'footer'}} _has-newsletter{{/if}}{{/if}} ">
        <div class="container ">
            <div class="footer-info--list">
                {{#if theme_settings.footer_show_pages '>' -1}}
                <article class="footer-info--navigate footer-info--col">
                    {{#if theme_settings.footer_pages_heading}}
                    <h3 class="footer-info-heading">
                        <a href="#">
                            {{theme_settings.footer_pages_heading}}
                        </a>
                    </h3>
                    {{/if}}
                    {{#if theme_settings.footer_show_pages '>' 0}}
                    <ul class="footer-info-list footer-list--navigate ">
                        {{#each (limit pages theme_settings.footer_show_pages)}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{{region name="footer_below_col2--global"}}}
                </article>
                {{/if}}

                {{#if theme_settings.footer_show_categories '>' -1}}
                <article class="footer-info--category footer-info--col ">
                    {{#if theme_settings.footer_categories_heading}}
                    <h3 class="footer-info-heading">
                        <a href="#">
                            {{theme_settings.footer_categories_heading}}
                        </a>
                    </h3>
                    {{/if}}
                    {{#if theme_settings.footer_show_categories '>' 0}}
                    <ul class="footer-info-list footer-list--category">
                        {{#each (limit categories theme_settings.footer_show_categories)}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{{region name="footer_below_col3--global"}}}
                </article>
                {{/if}}

                {{#if theme_settings.footer_shop_by_brand '>' -1}}
                <article class="footer-info--brands footer-info--col">
                    {{#if theme_settings.footer_brands_heading}}
                    <h3 class="footer-info-heading">
                        <a href="#">
                            {{theme_settings.footer_brands_heading}}
                        </a>
                    </h3>
                    {{/if}}
                    {{#if theme_settings.footer_shop_by_brand '>' 0}}
                    <ul class="footer-info-list footer-list--brands">
                        {{#each (limit shop_by_brand theme_settings.footer_shop_by_brand)}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                        {{/each}}
                        <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                    </ul>
                    {{/if}}
                    {{{region name="footer_below_col4--global"}}}
                </article>
                {{/if}}
            </div>
            {{#if theme_settings.footer_show_contactInfo '!==' true}}
            {{#if theme_settings.social_icon_placement_bottom}}
            {{> components/common/social-links}}
            {{/if}}
            {{/if}} 
        </div>
    </section>
    {{{region name="footer_below_columns--global"}}}
    <div class="footer-below">
        <div class="container">
            <div class="footer-copyright">
                <div class="beautify__abovePoweredBy">
                    {{{region name="footer_above_powerby--global"}}}
                </div>
                <div class="powered-by">
                    <div class="_col">
                        {{#if theme_settings.show_copyright_footer}}
                        <p class="powered-by-text _col-copyright-footer">
                            &copy; <span id="copyright_year"></span> {{settings.store_name}}.
                            <script>
                                document.getElementById("copyright_year").innerHTML = new Date().getFullYear();
                            </script>
                        </p>
                        {{/if}}
                        {{#if theme_settings.show_powered_by}}
                        <p class="powered-by-text _col-powered-by">
                            {{lang 'footer.powered_by'}}
                            <a href="http://bigcommerce.com" rel="nofollow">BigCommerce.</a>
                            Theme designed by
                            <a href="https://papathemes.com" rel="nofollow">Papathemes.</a>
                        </p>
                        {{/if}}
                        {{{region name="footer_powered_by--global"}}}
                    </div>
                    {{{region name="footer_copyright--global"}}}
                </div>
            </div>
            <div class="footer-payments">
                {{> components/common/payment-icons}}
                {{> components/beautify/footer-icons}}
            </div>
        </div>
    </div>
</footer>
{{{region name="footer_bottom--global"}}}
{{#if settings.show_newsletter_box}}
{{#if theme_settings.nl_popup_show '===' 'home'}}
{{#if page_type '===' 'default'}}
{{> components/papathemes/newsletter/modal}}
{{/if}}
{{else if theme_settings.nl_popup_show '===' 'all'}}
{{> components/papathemes/newsletter/modal}}
{{/if}}
{{/if}}
