{{#if settings.show_newsletter_box}}
    <div class="beautify__section {{#if index}}beautify__section--index{{index}}{{/if}} beautify__newsletter">
        <div class="container">
            <h2 class="page-heading">{{theme_settings.newsletter_heading}}</h2>
            <form class="form" action="{{urls.subscribe.action}}" method="post">
                <fieldset class="form-fieldset">
                    <input type="hidden" name="action" value="subscribe">
                    <input type="hidden" name="nl_first_name" value="bc">
                    <input type="hidden" name="check" value="1">
                    <div class="form-field">
                        <label class="form-label is-srOnly" for="nl_email">{{lang 'common.email_address'}}</label>
                        <input class="form-input" id="nl_email" name="nl_email" type="email" value="{{customer.email}}" placeholder="{{lang 'newsletter.email_placeholder'}}">
                        <button class="button button-primary" type="submit">{{lang 'newsletter.subscribe_submit'}}</button>
                    </div>
                </fieldset>
            </form>
            {{#if settings.show_newsletter_summary}}
                {{#if settings.newsletter_summary}}
                    <p class="page-desc">{{{settings.newsletter_summary}}}</p>
                {{else if in_development}}
                    <p class="page-desc">Sign up for our newsletter and get the latest updates on new products and upcoming sales</p>
                {{/if}}
            {{/if}}
        </div>
    </div>
{{/if}}