<div class="sidebarBlock sidebarBlock--navList sidebarBlock--brands sidebarBlock--mobileCollapsible">
    <h3 class="sidebarBlock-heading is-open" href="#" data-collapsible="#brands-navList" tabindex="0" aria-expanded="true">
        <svg class="icon _accordion-indicator toggleLink-text toggleLink-text--off">
            <use xlink:href="#icon-add" />
        </svg>
        <svg class="icon _accordion-indicator toggleLink-text toggleLink-text--on">
            <use xlink:href="#icon-minus" />
        </svg>
        {{lang 'footer.brands'}}
    </h3>
    <ul id="brands-navList" class="beautify__navList is-open" aria-hidden="false">
        {{#if layout '==' 'left-sidebar'}}
            {{#each shop_by_brand}}
            <li class="navList-item"><a class="navList-action navList-action--checkbox" rel="nofollow" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
            {{/each}}
        {{else}}
            {{#each shop_by_brand}}
            <li class="navList-item"><a class="navList-action" rel="nofollow" data-instantload href="{{url}}" title="{{name}}">{{name}}</a></li>
            {{/each}}
        {{/if}}
        <li class="navList-item"><a class="navList-action" data-instantload href="{{urls.brands}}"><svg class="icon"><use xlink:href="#icon-more" /></svg><span>{{lang 'search.faceted.more'}}</span></a></li>
    </ul>
</div>
