.card {
    margin-bottom: spacing("half");
    @include breakpoint("medium") {
        margin-bottom: spacing("single");	
    }
}

.card-body {
    text-align: stencilString("card-textAlign");

    @if (stencilString("card-textAlign") == "center") {
        justify-items: center;

        .productSwatches-attributes {
            align-items: center;

            .productSwatches-swatches {
                place-content: center;
            }
        }
    }

    .price {
        font-size: fontSize("base"); // papathemes-beautify modified
        font-weight: fontWeight("bold"); // papathemes-kitchenary modified
    }

    .price-section {
        display: inline-block;

        + .price-section {
            margin-left: spacing("quarter");
        }
    }

    .rrp-price--withTax,
    .rrp-price--withoutTax {
        + .price-section {
            margin-left: 0;
        }
    }

    .card-text--summary {
        color: $color-textBase;
        // margin-top: spacing("half"); // papathemes-beautify commeted
		
        @if $theme-style == "compact" {
            font-size: fontSize("smallest");
        }
        @else if $theme-style == "modern" {
            font-size: fontSize("smaller");
        }
    }

    > :last-child {
        margin-bottom: spacing("base") * 1.25;

        @media (max-width: (screenSize("medium") - 1px)) {
            margin-bottom: spacing("half") * 1.25;
        }
    }

    .card-actions {
        display: none;
        gap: spacing("third") * 0.625;

        ._qtyAdd {
            display: flex;

            .form-field--increments {
                margin: 0;
                @include square(40);
                border: 2px solid stencilColor("button--primary-backgroundColor");
                border-radius: $button-radius 0 0 $button-radius;
                background: $color-secondary;

                .form-label {
                    display: none;
                }

                .form-increment {
                    .button {
                        display: none;
                    }

                    .form-input--incrementTotal {
                        @include square(36);
                        font-weight: fontWeight("bold");
                    }
                }
            }

            .card-figcaption-button {
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: fontWeight("bold");
                background: stencilColor("button--primary-backgroundColor");
                height: spacing("base") * 2.5;

                &:not(:only-child) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }

                span {
                    padding: 0 spacing("single");
                    color: stencilColor("button--primary-color");
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                i {
                    display: none;

                    .icon {
                        margin: 0;
                        @include square(20);
                        fill: stencilColor("button--primary-color");
                    }
                }
            }

            &:hover {
                .form-field--increments {
                    border-color: stencilColor("button--primary-backgroundColorHover");
                }

                .card-figcaption-button {
                    background: stencilColor("button--primary-backgroundColorHover");

                    span {
                        color: stencilColor("button--primary-colorHover");
                    }

                    .icon {
                        fill: stencilColor("button--primary-colorHover");
                    }
                }
            }
        }

        ._quickViewAndCompare {
            display: flex;
            gap: spacing("third") * 0.625;

            .card-figcaption-button {
                margin: 0;
                padding: 0;
                @include square(40);
                display: flex;
                align-items: center;
                justify-content: center;
                background: stencilColor("card-figcaption-button-background");

                .icon {
                    margin: 0;
                    @include square(20);
                    fill: stencilColor("card-figcaption-button-color");
                }

                &:hover {
                    background: stencilColor("card-figcaption-button-backgroundHover");

                    .icon {
                        fill: stencilColor("card-figcaption-button-colorHover");
                    }
                }
            }
        }

        &:has(.button--outstock) {
            width: 100%;

            .button--outstock {
                height: spacing("base") * 2.5;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0;
                width: fit-content;
                margin: 0;
                background-color: stencilColor("button--disabled-backgroundColor");
                color: stencilColor("button--disabled-color");

                span {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    padding: 0 spacing("single");
                }
            }
        }
    }
}

.card-figcaption-body {
    display: inline;
    transform: none;
    position: static;
}

.card-figure {
    position: relative;
    overflow: hidden;
}

.card-image ~ .card-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100%;
    background-color: container("fill");
}

.card:hover,
.card:focus,
.card:active {
    .card-image ~ .card-image {
        opacity: 1;
    }
}

// papathemes-beautify deleted .card-figcaption-button.button--primary

.card-figcaption-body-bottomGroup {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: stencilColor("card-figcaption-button-background");
    padding: spacing("half") 0;

    .card-figcaption-button {
        &:first-child {
            margin-top: 0;
        }

        &:hover {
            background: stencilColor("card-figcaption-button-backgroundHover");
        }
    }
}

.card-figcaption-body-rightGroup {
    position: absolute;
    top: 0;
    right: 0;

    .card-figcaption-button {
        text-indent: -9999px;
        font-size: 0;
        padding: 5px;
        line-height: fontSize("large");
        border: 0;
        background: transparent;
	
        &::before {
            font-family: "papathemesicons" !important;
            font-style: normal;
            content: $papathemes-icon-cart;
            text-indent: 0;
            float: left;
            font-size: fontSize("large");
        }

        &:hover {
            background: transparent;
            opacity: 0.6;
        }
    }
}

// papathemes-beatyfeature deleted .card-aside

.card-text--summary {
    display: none;
}

.card-title {
    @if $theme-style == "compact" {
        font-weight: inherit;
    }
}
