<div class="productView-alsoBought-item-inner _placeholder game">
   <div class="productView-alsoBought-item-check">
      <div class="form-field">
         <div class="form-label">
            <div class="productView-alsoBought-item-image"><a
                  class="productView-alsoBought-item-image-thumbnail"></a></div>
            <div class="productView-alsoBought-item-content">
               <div class="productView-alsoBought-item-title"><a>{{name}}</a></div>
               <p class="productView-alsoBought-item-rating card-text card-text--rating">
                  <span class="rating--small">
                     <span class="icon icon--ratingEmpty">
                        <svg>
                           <use href="#icon-star"></use>
                        </svg>
                     </span>
                     <span class="icon icon--ratingEmpty">
                        <svg>
                           <use href="#icon-star"></use>
                        </svg>
                     </span>
                     <span class="icon icon--ratingEmpty">
                        <svg>
                           <use href="#icon-star"></use>
                        </svg>
                     </span>
                     <span class="icon icon--ratingEmpty">
                        <svg>
                           <use href="#icon-star"></use>
                        </svg>
                     </span>
                     <span class="icon icon--ratingEmpty">
                        <svg>
                           <use href="#icon-star"></use>
                        </svg>
                     </span>
                  </span>
               </p>
               <div class="productView-alsoBought-item-price">
                  <div class="price-section-group price-section-group--withoutTax">
                     <div class="price-section price-section--withoutTax price-section--main">
                        <span class="price price--withoutTax price--main">&nbsp;</span>
                     </div>
                  </div>
               </div>
               <div class="productView-alsoBought-item-form">
               </div>
               <div class="productView-alsoBought-item-formToggle">
                  <a class="button button--primary">{{lang 'products.choose_options'}}</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="productView-alsoBought-filter"></div>
</div>
