{{#if theme_settings.hero-carousal-title-1 }}
<section class="heroCarousel-container">
    <div class="heroCarousel heroCarousel--stretch blaze-slider" 
        data-blaze-slider='{
                            "all": {
                                "enablePagination": true,
                                "enableAutoplay": true,
                                "autoplayInterval": 5000,
                                "transitionDuration": 300,
                                "slidesToShow": 1,
                                "slidesToScroll": 1,
                                "slideGap": "0px",
                                "loop": true
                            }
                        }'>
        <div class="blaze-container">
            <div class="blaze-track-container">
                <div class="blaze-track">
                     <div class="heroCarousel-slide heroCarousel-slide--1" tabindex="0">
                        <div class="heroCarousel-image-wrapper heroCarousel-image-wrapper--sized">
                            <a href="{{theme_settings.hero-carousal-url-1}}" tabindex="-1">
                                <div class="heroCarousel-image-box" style="width: 3280px;">
                                    <div class="heroCarousel-image-box-padding" style="padding-bottom: 0px;height:auto;">
                                        <img
                                            src="{{theme_settings.hero-carousal-image-1}}"
                                            alt=""
                                            title=""
                                            data-sizes="auto"
                                            class="heroCarousel-image lazyautosizes lazyloaded"
                                            loading="lazy"
                                            width="3280"
                                            height="1980"
                                            sizes="214px"
                                        />
                                    </div>
                                    <div class="heroCarousel-content _head-button-mobile {{theme_settings.hero-carousal-position-1}}">
                                        <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-1}}</h2>
                                        <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-1}}</span>
                                    </div>
                                </div>
                                <div class="heroCarousel-content {{theme_settings.hero-carousal-position-1}}">
                                    <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-1}}</h2>
                                    <div class="heroCarousel-description">{{{theme_settings.hero-carousal-desc-1}}}</div>
                                    <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-1}}</span>
                                </div>
                                <div class="heroCarousel-content _desc-mobile {{theme_settings.hero-carousal-position-1}}">
                                    <div class="heroCarousel-description">{{{theme_settings.hero-carousal-desc-1}}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="heroCarousel-slide heroCarousel-slide--2" tabindex="1">
                       <div class="heroCarousel-image-wrapper heroCarousel-image-wrapper--sized">
                            <a href="{{theme_settings.hero-carousal-url-2}}" tabindex="-1">
                                <div class="heroCarousel-image-box" style="width: 3280px;">
                                    <div class="heroCarousel-image-box-padding" style="padding-bottom: 0px;height:auto;">
                                        <img
                                            src="{{theme_settings.hero-carousal-image-2}}"
                                            alt=""
                                            title=""
                                            data-sizes="auto"
                                            class="heroCarousel-image lazyautosizes lazyloaded"
                                            loading="lazy"
                                            width="3280"
                                            height="1980" 
                                            sizes="214px"
                                        />
                                    </div>
                                    <div class="heroCarousel-content _head-button-mobile  {{theme_settings.hero-carousal-position-2}}">
                                        <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-2}}</h2>
                                        <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-2}}</span>
                                    </div>
                                </div>
                                <div class="heroCarousel-content {{theme_settings.hero-carousal-position-2}}">
                                    <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-2}}</h2>
                                    <div class="heroCarousel-description">{{{theme_settings.hero-carousal-desc-2}}}</div>
                                    <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-2}}</span>
                                </div>
                                <div class="heroCarousel-content _desc-mobile {{theme_settings.hero-carousal-position-2}}">
                                    <div class="heroCarousel-description ">{{{theme_settings.hero-carousal-desc-2}}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="heroCarousel-slide heroCarousel-slide--3" tabindex="3">
                        <div class="heroCarousel-image-wrapper heroCarousel-image-wrapper--sized">
                            <a href="{{theme_settings.hero-carousal-url-3}}" tabindex="-1">
                                <div class="heroCarousel-image-box" style="width: 3280px;">
                                    <div class="heroCarousel-image-box-padding" style="padding-bottom: 0px;height:auto;">
                                        <img
                                            src="{{theme_settings.hero-carousal-image-3}}"
                                            alt=""
                                            title=""
                                            data-sizes="auto"
                                            class="heroCarousel-image lazyautosizes lazyloaded"
                                            loading="lazy"
                                            width="3280"
                                            height="1980"
                                            sizes="214px"
                                        />
                                    </div>
                                    <div class="heroCarousel-content _head-button-mobile {{theme_settings.hero-carousal-position-3}}">
                                        <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-3}}</h2>
                                        <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-3}}</span>
                                    </div>
                                </div>
                                <div class="heroCarousel-content {{theme_settings.hero-carousal-position-3}}">
                                    <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-3}}</h2>
                                    <div class="heroCarousel-description">{{{theme_settings.hero-carousal-desc-3}}}</div>
                                    <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-3}}</span>
                                </div>
                                <div class="heroCarousel-content _desc-mobile {{theme_settings.hero-carousal-position-3}} ">
                                    <div class="heroCarousel-description">{{{theme_settings.hero-carousal-desc-3}}}</div>
                                </div>
                            </a>
                        </div>
                    </div>
                     <div class="heroCarousel-slide heroCarousel-slide--4" tabindex="4">
                        <div class="heroCarousel-image-wrapper heroCarousel-image-wrapper--sized">
                            <a href="{{theme_settings.hero-carousal-url-4}}" tabindex="-1">
                                <div class="heroCarousel-image-box" style="width: 3280px;">
                                    <div class="heroCarousel-image-box-padding" style="padding-bottom: 0px;height:auto;" >
                                        <img
                                            src="{{theme_settings.hero-carousal-image-4}}"
                                            alt=""
                                            title=""
                                            data-sizes="auto"
                                            class="heroCarousel-image lazyautosizes lazyloaded"
                                            loading="lazy"
                                            width="3280"
                                            height="1980"
                                            sizes="214px"
                                        />
                                    </div>
                                    <div class="heroCarousel-content _head-button-mobile {{theme_settings.hero-carousal-position-4}}">
                                        <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-4}}</h2>
                                        <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-4}}</span>
                                    </div>
                                </div>
                                <div class="heroCarousel-content {{theme_settings.hero-carousal-position-4}}">
                                    <h2 class="heroCarousel-title">{{theme_settings.hero-carousal-title-4}}</h2>
                                    <div class="heroCarousel-description">{{{theme_settings.hero-carousal-desc-4}}}</div>
                                    <span class="heroCarousel-action button button--primary button--large">{{theme_settings.hero-carousal-button-text-4}}</span>
                                </div>
                                <div class="heroCarousel-content _desc-mobile {{theme_settings.hero-carousal-position-4}}">
                                    <div class="heroCarousel-description ">{{{theme_settings.hero-carousal-desc-4}}}</div>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <!-- navigation buttons -->
            <button class="blaze-prev" aria-label="Previous"></button>
            <button class="blaze-next" aria-label="Next"></button>

            <!-- pagination container -->
            <div class="blaze-pagination"></div>
        </div>
    </div>
    <div class="beautify__heroCarouselMobile">
        <div data-content-region="home_carousel_mobile"></div>
    </div>
</section>
{{/if}}
<style type="text/css">
    .heroCarousel-image {
    width: auto!important;
    }
    .heroCarousel-image-box-padding {
        height: auto;
    }
    .heroCarousel-content.right {
      right: 10%;
      left: 50%;
    }
     .heroCarousel-content.left {
      right: 50%;
      left: 10%;
    }
    .heroCarousel--stretch .heroCarousel-image {
    width: 100% !important;
    }

    
@media (max-width:1260px){
    
    .heroCarousel-description ul {
    margin-left: 140px;
}

.heroCarousel-description ul li {
    text-align: left;
}
}

@media (max-width:767px){
    .heroCarousel-description ul {
    margin-left: 30px;
 }
 .heroCarousel-content.right {
    right: 5px;
    left: 50%;
 }
 .heroCarousel-content.left {
    right: 50%;
    left: 5px;
 }
}
 

</style>
